Cython
nuscenes-devkit
tensorboardX
efficientnet_pytorch==0.7.0
timm==0.6.12
matplotlib
numpy
omegaconf>=2.0.1
onnx
onnx-simplifier
opencv-python
pyaml
pycocotools
pytorch-lightning>=1.7.0
tabulate
tensorboard
termcolor
torch>=1.12
torchmetrics
torchvision
tqdm
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
